<div id="menu">
  <div class="inner">
    <a class="title" href="/{{site.baseurl}}" class="title">Airlift</a>
    <a href="/"{% if page.url == '/' %} class="active"{% endif %}>Intro</a>
    <a href="/manual/"{% if page.url contains '/features/' %} class="active"{% endif %}>Manual</a>
    <a href="/apis/"{% if page.url contains '/apis/' %} class="active"{% endif %}>API</a>
    <a href="/team/"{% if page.url contains '/team/' %} class="active"{% endif %}>Team</a>
    <a href="/development/"{% if page.url contains '/development/' %} class="active"{% endif %}>Dev</a>
    <a href="/apis2/"{% if page.url contains '/apis2/' %} class="active"{% endif %}>API2</a>
  </div>
</div>
