---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Substance &middot; Towards open digital publishing</title>
  <link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'/>
  <link rel='stylesheet' href='{{site.baseurl}}/app.css'/>
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="/javascripts/rainbow-custom.min.js"></script>
</head>
<body>
  <div id='container'>
    <!-- <div id="header">
      <div class="navigation">
        <span class="subtitle">Towards open digital publishing.</span>
      </div>
    </div> -->

    <div id='main'>{{content}}</div>
  </div>

  <div id='footer'>
    <div class="footer-content">
      This open sourced site is hosted on <a href="http://github.com/substance/substance.github.com">GitHub</a>. Please help us to improve it!
    </div>
  </div>

  <script type="text/javascript">
    var codeBlocks = document.querySelectorAll('code');
    Array.prototype.forEach.call(codeBlocks, function iterator(block) {
      block.setAttribute('data-language', 'javascript');
    });
    Rainbow.color();
  </script>
</body>
</html>
